@font-face {
    font-family: GameOfThrones;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29725/got.ttf);
}

html {
    background-image: url("../images/background3.jpg");

  }

body {

  font-family: GameOfThrones;

}


#board {
    width: 26em;
    height: 27em;
    float: left;
    margin: 4em 0em 3em 3em;
    text-align: center;
}

#scoreBoard {
  float: left;
  margin: 129px 0px;
  height: 396px;
  width: 118px;
  border: solid gray;
}

.square {
    display: inline-block;
    width: 8em;
    height: 8em;
    border: solid gray;
    vertical-align: middle;
}

p {

    font-size: 20px;
}

.score {

     font-size: 12px;
     padding: 4px 4px 4px 8px;

}

.scoreCount {
    font-size: 18px;
    padding-left: 8px;
}

#score {

    font-size: 14px;
    text-align: center;
}

.clear {
    height: 35px;
    width: 110px;
    text-align: center;
    margin: 1px;
    border: solid gray;
    border-radius: 15px;
    background-color: gray;
}

.stark {

    background: url("../images/starksmall.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.lannister {
    background: url("../images/lannistersmall.jpg");
    background-repeat: no-repeat;
    background-position: center;
}