<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe in AngularJS With Max</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/tictactoeController.js"></script>

</head>
<body ng-app="tictactoeApp" ng-controller="tictactoeController as tttCtrl">

     <div id="board">
            <p id="message" ng-show="tttCtrl.message">{{tttCtrl.message}}</p>
            <span ng-repeat="ttt in tttCtrl.square" ng-class="{'stark': ttt.stark}">
                <div class="square" ng-click="tttCtrl.placeMove($index)" ng-class="{'lannister':ttt.lannister}">{{ttt.text}}</div>
            </span>
    </div>
    <div id="scoreBoard">
            <p id="score">Win or Die!</p>
            <hr>
            <p class = "score">Stark</p>
            <p>{{tttCtrl.playerOneScore}}</p>
            <p class = "score">Lannister</p>
            <p>{{tttCtrl.playerTwoScore}}</p>
            <p class ="score">Draw</p>
            <p>{{tttCtrl.drawScore}}</p>
            <hr>
            <div id="newGame" ng-click="tttCtrl.newGame($index)">New Game</div>
            <div id="resetAll" ng-click="tttCtrl.resetAll($index)">Reset All Score</div>
    </div>

</body>
</html>
